body {
    font: 400 16px/24px 'Roboto', sans-serif;
    color: var(--grey-light);
    letter-spacing: 0.02em;
}

:root {
    --grey-dark: #2E2F42;
    --grey-light: #434455;
    --primary: #4D5AE5;
    --primary-dark: #404BBF;
    --white: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

ul,
ol {
    padding: 0px;
    margin: 0px;

    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
    font-style: normal;
    transition: all 500ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    letter-spacing: 0.02em;
}

h1 {
    font-size: 56px;
    line-height: 60px;
}

h2 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 72px;
    text-transform: capitalize;
}

h3 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
}

.container {
    max-width: 1128px;

    padding: 0 15px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.section {
    padding: 120px 0;
}

.logo {
    display: flex;

    color: var(--primary);

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.btn_primary {
    padding: 16px 32px;

    color: #fff;
    background: var(--primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


    font: 700 16px/19px 'Roboto';
    letter-spacing: 0.04em;

    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: all 500ms ease;
}

.btn_primary:hover,
.btn_primary:focus {
    background-color: var(--primary-dark);
}

/*  Header */

.header {
    padding: 24px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header_nav {
    margin-left: 77px;
}

.header_nav ul {
    display: flex;
}

.header_nav ul>li {
    position: relative;
    font-weight: 700;
    margin-right: 40px;
}

.header_nav ul>li::before {
    display: block;
    position: absolute;
    bottom: -24px;
    content: '';
    width: 100%;
    height: 0;
    transition: all 500ms ease;
}

.header_nav a {
    color: var(--grey-dark);
}

.header_nav a:hover,
.header_nav a:focus,
.header_nav a:active {
    color: var(--primary);
}

.header_nav ul>li:hover::before,
.header_nav ul>li:active::before {
    height: 4px;
    background-color: var(--primary);
}

.header .logo_customStyle {
    color: var(--grey-dark)
}

.header_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header_contacts {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.header_contacts a {
    color: var(--grey-light);
}

.header_contacts a:hover,
.header_contacts a:focus {
    color: var(--primary);
}

.header_contacts a:first-child {
    margin-right: 40px;
}

/*  Banner */

.main_banner {
    background: var(--grey-dark);
    padding: 192px 0;
}

.main_banner_content {
    max-width: 500px;

    padding: 0 15px;
    margin: 0 auto;

    text-align: center;
}

.main_banner h1 {
    color: #fff;
    margin-bottom: 48px;
}

/*  Advantages */

.advantages ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.advantages ul>li {
    flex-basis: calc((100% - 72px)/ 4);
}


/*  Activities */

.activities h2 {
    text-align: center;
}

.activities ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.activities ul>li {
    flex: 1 1 264px;
}

.activities {
    padding-top: 0;
}

/*  Team */

.team {
    background-color: #F4F4FD;
}

.team h2 {
    text-align: center;
}

.team ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team ul>li {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team_card_contant {
    text-align: center;
    padding: 32px 0;
    background-color: var(--white);
}

/*  Portfolio page */

.portfolio {
    padding-top: 96px;
}

.tab_control {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.tab_control_item>button {
    padding: 12px 24px;

    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.04em;
    border-radius: 4px;

    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    color: #4D5AE5;
    cursor: pointer;
    transition: all 500ms ease;
}

.tab_control_item>button:hover,
.tab_control_item>button:focus {
    background-color: var(--primary);
    color: var(--white);
}

.tab_list {
    display: flex;
    flex-flow: row wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.tab_list img {
    width: 100%;
}

.tab_list>li {
    width: calc((100% - 54px) / 3);
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.tab_list_content {
    padding: 32px 16px;
}

.tab_title {
    color: var(--grey-dark);
}

/*  Footer */

.footer {
    padding: 100px 0;
    background-color: var(--grey-dark);
}

.footer .logo_customStyle {
    color: var(--white);
}

.footer .logo {
    line-height: 21px;
    margin-bottom: 16px;
}

.footer_modul {
    max-width: 264px;
}

.footer p {
    color: #E7E9FC;
}