* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: var(--grey-type_2);
    letter-spacing: 0.02em;
}

:root {
    --grey-type_1: #2E2F42;
    --grey-type_2: #434455;
    --grey-type_3: #F4F4FD;
    --grey-type_4: #8E8F99;
    --primary: #4D5AE5;
    --primary-dark: #404BBF;
    --green: #31D0AA;
    --white: #fff;
    --white-type_2: #E7E9FC;
    --modal_bg: #FCFCFC;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

ul,
ol {
    padding: 0px;
    margin: 0px;

    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 396px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

.title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--grey-type_1);
    text-align: center;
}

.hidden {
    display: none;
}

.section {
    padding: 96px 0;
}

.logo {
    display: flex;

    color: var(--primary);

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.btn_primary {
    padding: 16px 32px;
    color: #fff;
    background: var(--primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn_primary:hover,
.btn_primary:focus {
    background-color: var(--primary-dark);
}

.close_btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-type_2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color, border-color, fill;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 552px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1128px;
    }

    .section {
        padding: 120px 0;
    }

}

/*  Header */

.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header_nav {
    margin-left: auto;
}

.header_nav_list {
    display: none;
}

.header_nav a {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 28px;
    font-weight: 700;
    color: var(--grey-type_1);
    transition-duration: 250ms;
    transition-property: color, height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header_nav ul>li a.current::after {
    display: block;
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 0;
}

.header_nav ul>li>a:hover,
.header_nav ul>li>a:focus,
.header_nav ul>li>a.current {
    color: var(--primary);
}

.header_nav ul>li>a.current::after {
    height: 4px;
    background-color: var(--primary);
}

.header .logo_customStyle {
    color: var(--grey-type_1)
}

.header_container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header_contacts {
    display: none;
    margin-left: auto;
}

.header_contacts a {
    color: var(--grey-type_2);
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header_contacts a:hover,
.header_contacts a:focus {
    color: var(--primary);
}

.menu_toggle {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.mobile_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background: var(--white);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    overflow: auto;
}

.mobile_menu_link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--grey-type_1);
}

.mobile_menu_list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 284px;
}

.mobile_menu.is-open {
    transform: translateX(0);
}

.mobile_menu_toggle {
    margin-left: auto;
    margin-bottom: 16px;
}

.mobile_menu_contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.mobile_menu_social_links {
    display: flex;
    gap: 56px;
}

.mobile_menu_contacts_phone {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: normal;
}

.mobile_menu_contacts_mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--grey-type_2);
}

.mobile_menu_link_item>a {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    fill: var(--grey-type_3);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .header_nav {
        margin-left: 77px;
    }

    .header_nav_list {
        display: flex;
        gap: 40px;
    }

    .header_contacts {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .header_container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .menu_toggle {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .header_container {
        max-width: 1128px;
    }

    .header_contacts {
        flex-direction: row;
        gap: 40px;
    }

}


/*  Banner */

.main_banner {
    height: 432px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 112px 0;
    background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)), url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

.main_banner h1 {
    width: 319px;
    margin: 0 auto 48px auto;
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .main_banner h1 {
        width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }
}


@media screen and (min-width: 1200px) {
    .main_banner {
        height: 600px;
        padding: 187px 0;
    }
}

/*  Advantages */

.advantages>.container {
    max-width: 100%;
}

.advantages_title {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
}

.advantages ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.advantages ul>li {
    flex-basis: 100%;
}

.advantages_image {
    display: none;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--grey-type_3);
    text-align: center;
}

.advantages_text {
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .advantages_title {
        text-align: inherit;
    }

    .advantages ul>li {
        flex-basis: calc((100% - 24px)/ 2);
    }
}

@media screen and (min-width: 1200px) {
    .advantages>.container {
        max-width: 1128px;
    }

    .advantages_title {
        font-size: 20px;
        line-height: 1.2;
    }

    .advantages_image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .advantages ul>li {
        flex-basis: calc((100% - 72px)/ 4);
    }

    .advantages_text {
        font-weight: 400;
    }
}

/*  Activities */

.activities {
    display: none;
}

.activities ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.activities ul>li {
    flex-basis: calc((100% - 48px)/3);
}

.activities {
    padding-top: 0;
}

@media screen and (min-width: 1200px) {
    .activities {
        display: block;
    }
}

/*  Team */

.team {
    background-color: var(--grey-type_3);
}

.team .team_employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.team .team_employees>li {
    max-width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team_card_employee_name {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 8px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.team_card_employee_position {
    margin-bottom: 8px;
}

.team_card_contant {
    text-align: center;
    padding: 32px 0;
    background-color: var(--white);
}

.team_social_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.team_social_links>.social_link_item>a {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team_social_links>.social_link_item>a:hover {
    background-color: var(--primary-dark);
}

.team_social_links .social_link_item .icon {
    fill: var(--white);
}

@media screen and (min-width: 768px) {
    .team .team_employees>li {
        flex-basis: calc((100% - 24px)/2);
    }
}

@media screen and (min-width: 1200px) {
    .team .team_employees>li {
        flex-basis: calc((100% - 72px)/4);
    }
}

/*  Customers */

.customers .title {
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.customers_list {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.customers_item {
    height: 88px;
    display: flex;
    flex-basis: calc((100% - 16px)/ 2);
}

.customers_list>.customers_item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--grey-type_4);
    border: 1px solid currentColor;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers_item .icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers_item>a:hover .icon,
.customers_item>a:focus .icon,
.customers_item>a:hover,
.customers_item>a:focus {
    fill: var(--primary);
    border-color: var(--primary);
}

@media screen and (min-width: 768px) {
    .customers_item {
        flex-basis: calc((100% - 48px)/ 3);
    }

    .customers_list {
        gap: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .customers_item {
        flex-basis: calc((100% - 120px)/ 6);
    }
}

/*  Portfolio page */

.portfolio {
    padding-top: 96px;
}

.tab_control {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.tab_control_item>button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: var(--grey-type_3);
    border: 1px solid var(--white-type_2);
    color: #4D5AE5;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: box-shadow, background-color, border-color, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tab_control_item>button:hover,
.tab_control_item>button:focus {
    background-color: var(--primary);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}

.tab_control_item>button:active {
    color: var(--white);
    background-color: var(--primary-dark);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.tab_list {
    display: flex;
    flex-flow: row wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.tab_list img {
    width: 100%;
}

.tab_list>li {
    width: calc((100% - 54px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.tab_list_link {
    display: block;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
}

.tab_list_link:hover,
.tab_list_link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.tab_list_content {
    padding: 32px 16px;
    border: 0.5px solid var(--grey-type_3);
    border-top: 0;
}

.tab_title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--grey-type_1);
}

.tab_subTitle {
    color: var(--grey-type_2);
}

.tab_list_image {
    position: relative;
    overflow: hidden;
}

.tab_hover {
    position: absolute;
    background-color: var(--primary);
    color: var(--grey-type_3);
    letter-spacing: 0.02em;
    padding: 40px 32px;
    top: 0;
    bottom: 0;
    color: var(--primary);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, color;
    transform: translateY(101%);
}

.tab_list_link:hover .tab_hover,
.tab_list_link:focus .tab_hover {
    color: var(--white);
    transform: translateY(0);
}


/* Modal */

.scroll_disabled {
    overflow-y: hidden;
    padding-right: 17px;
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);
    transition-duration: 250ms;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden>.modal_content {
    opacity: 0;
}

.modal_content {
    position: relative;
    width: 408px;
    padding: 72px 24px 24px 24px;
    background-color: var(--modal_bg);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: width, height;
}

.modal.is-hidden {
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
}

.modal_close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.modal_close:hover,
.modal_close:focus {
    border-color: var(--primary-dark);
    background-color: var(--primary-dark);
    fill: #fff;
}

.modal_content_title {
    font-weight: 500;
    color: var(--grey-type_1);
    text-align: center;
    margin-bottom: 14px;
}

.contact_form_label {
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--grey-type_4);
    margin-bottom: 8px;
    overflow: hidden;
}

.label_textarea {
    margin-bottom: 16px;
}

.label_checkbox {
    margin-bottom: 24px;
}

.contact_form_label>.icon {
    position: absolute;
    bottom: 8px;
    left: 16px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}

.contact_form_label>.icon-checkbox {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
}

.contact_form_label.label_checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #757575;
    letter-spacing: 0.04em;
}

.contact_form_input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 38px;
    margin-top: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
}

.contact_form_textarea {
    display: block;
    height: 120px;
    width: 100%;
    padding: 8px 16px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
    resize: none;
}

.contact_form_textarea::placeholder {
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.contact_form_input:focus+.icon {
    fill: var(--primary);
}

.contact_form_input:focus,
.contact_form_textarea:focus {
    outline: none;
    border-color: var(--primary);
}

.contact_form_checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    appearance: none;
}

.contact_form_checkbox:checked {
    border: none;
}

.contact_form_checkbox:checked+.icon-checkbox {
    opacity: 1;
}

.contact_form_checkbox_link {
    color: var(--primary);
    text-decoration: underline;
}

.contact_form_btn {
    display: block;
    min-width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background: var(--primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    margin: 0 auto;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    cursor: pointer;
}

.contact_form_btn:hover,
.contact_form_btn:focus {
    background-color: var(--primary-dark);
}

/*  Footer */

.footer {
    padding: 100px 0;
    background-color: var(--grey-type_1);
}

.footer_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.footer_title {
    color: var(--white);
    font-weight: 600;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.footer .logo_customStyle {
    color: var(--white);
}

.footer .logo {
    justify-content: center;
    line-height: 1.16;
    margin-bottom: 16px;
}

.footer_mod-1 {
    max-width: 264px;
    color: var(--white-type_2);
}

.footer_mod_social_links {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.footer_mod_social_item>a {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-type_2);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_mod-2 .icon {
    fill: var(--white);
}

.footer_mod-3 {
    width: 100%;
}

.footer_mod_social_item>a:hover,
.footer_mod_social_item>a:focus {
    background-color: var(--green);
}

.subscribe_form {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
}

.subscribe_form_input {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 8px 16px;
    background-color: transparent;
    color: var(--white);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe_form_input::placeholder {
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 2;
}

.subscribe_form_btn {
    max-width: 165px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    line-height: 0.6;
    letter-spacing: 0.04em;
    background-color: var(--primary);
    color: var(--white);
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.subscribe_form_btn:hover,
.subscribe_form_btn:focus {
    background-color: var(--primary-dark);
}

@media screen and (min-width: 768px) {
    .footer .logo {
        justify-content: flex-start;
    }

    .footer_title {
        text-align: inherit;
    }

    .footer_content {
        column-gap: 24px;
        justify-content: flex-start;
    }

    .subscribe_form_input {
        width: 100%;
    }

    .subscribe_form {
        flex-direction: row;
    }

    .footer_mod-3 {
        width: auto;
    }
}

@media screen and (min-width: 1200px) {
    .footer_content {
        gap: 0;
    }

    .footer_mod-1 {
        margin-right: 120px;
    }

    .footer_mod-2 {
        margin-right: 80px;
    }
}