* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: var(--grey-type_2);
    letter-spacing: 0.02em;
}

:root {
    --grey-type_1: #2E2F42;
    --grey-type_2: #434455;
    --grey-type_3: #F4F4FD;
    --grey-type_4: #8E8F99;
    --primary: #4D5AE5;
    --primary-dark: #404BBF;
    --green: #31D0AA;
    --white: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

ul,
ol {
    padding: 0px;
    margin: 0px;

    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1128px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

.hidden {
    display: none;
}

.section {
    padding: 120px 0;
}

.logo {
    display: flex;

    color: var(--primary);

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.btn_primary {
    padding: 16px 32px;

    color: #fff;
    background: var(--primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


    font: 700 16px/19px 'Roboto';
    letter-spacing: 0.04em;

    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: all 500ms ease;
}

.btn_primary:hover,
.btn_primary:focus {
    background-color: var(--primary-dark);
}

/*  Header */

.header {
    padding: 24px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header_nav {
    margin-left: 77px;
}

.header_nav ul {
    display: flex;
    gap: 40px;
}

.header_nav ul>li {
    position: relative;
    font-weight: 700;
}

.header_nav ul>li::before {
    display: block;
    position: absolute;
    bottom: -24px;
    content: '';
    width: 100%;
    height: 0;
    transition: all 500ms ease;
}

.header_nav a {
    color: var(--grey-type_1);
}

.header_nav a:hover,
.header_nav a:focus,
.header_nav a:active {
    color: var(--primary);
}

.header_nav ul>li:hover::before,
.header_nav ul>li:active::before {
    height: 4px;
    background-color: var(--primary);
}

.header .logo_customStyle {
    color: var(--grey-type_1)
}

.header_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header_contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: auto;
}

.header_contacts a {
    color: var(--grey-type_2);
}

.header_contacts a:hover,
.header_contacts a:focus {
    color: var(--primary);
}

/*  Banner */

.main_banner {
    height: 603px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 192px 0;
    background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)), url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

.main_banner h1 {
    width: 496px;
    margin: 0 auto 48px auto;
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #fff;
}

/*  Advantages */

.advantages_title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

.advantages ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.advantages ul>li {
    flex-basis: calc((100% - 72px)/ 4);
}

.advantages_image {
    display: flex;
    height: 112px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-type_3);
    text-align: center;
}


/*  Activities */

.activities h2 {
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.1;
    text-transform: capitalize;
    text-align: center;
}

.activities ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.activities ul>li {
    flex-basis: calc((100% - 48px)/3);
}

.activities {
    padding-top: 0;
}

/*  Team */

.team {
    background-color: var(--grey-type_3);
}

.team .title {
    margin-bottom: 72px;

    font-weight: 700;
    letter-spacing: 0.02em;
    font-size: 36px;
    text-align: center;

    line-height: 1.1;
    text-transform: capitalize;
}

.team .team_employees {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team .team_employees>li {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team_card_employee_name {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 8px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.team_card_employee_position {
    margin-bottom: 12px;
}

.team_card_contant {
    text-align: center;
    padding: 32px 0 36px 0;
    background-color: var(--white);
}

.team_social_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.team_social_links>.social_link_item>a {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 50%;
    transition: all 500ms ease;
}

.team_social_links>.social_link_item>a:hover {
    background-color: var(--primary-dark);
}

.team_social_links .social_link_item .icon {
    fill: var(--white);
}

/*  Customers */

.customers .title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--grey-type_1);
    text-align: center;
}

.customers_list {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
}

.customers_item {
    height: 88px;
    display: flex;
    flex-basis: calc((100% - 120px)/ 6);
}

.customers_list>.customers_item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--grey-type_4);
    border: 1px solid currentColor;
    border-radius: 4px;
}

.customers_item .icon {
    fill: currentColor;
}

.customers_item:hover .icon,
.customers_item:hover a {
    fill: var(--primary);
    border-color: var(--primary);
}

/*  Portfolio page */

.portfolio {
    padding-top: 96px;
}

.tab_control {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.tab_control_item>button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: var(--grey-type_3);
    border: 1px solid #E7E9FC;
    color: #4D5AE5;
    cursor: pointer;
    transition: all 500ms ease;
}

.tab_control_item>button:hover,
.tab_control_item>button:focus {
    background-color: var(--primary);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}

.tab_list {
    display: flex;
    flex-flow: row wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.tab_list img {
    width: 100%;
}

.tab_list>li {
    width: calc((100% - 54px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.tab_list_link {
    display: block;
}

.tab_list_link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.tab_list_content {
    padding: 32px 16px;
    border: 0.5px solid var(--grey-type_3);
    border-top: 0;
}


.tab_title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--grey-type_1);
}

.tab_subTitle {
    color: var(--grey-type_2);
}

/*  Footer */

.footer {
    padding: 100px 0;
    background-color: var(--grey-type_1);
}

.footer_content {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
}

.footer .logo_customStyle {
    color: var(--white);
}

.footer .logo {
    line-height: 1.16;
    margin-bottom: 16px;
}

.footer_mod-1 {
    max-width: 264px;
}

.footer_mod-2 .title {
    color: var(--white);
    margin-bottom: 16px;
}

.footer_mod_social_links {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.footer_mod_social_item>a {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-type_2);
    border-radius: 50%;
    transition: all 500ms ease;
}

.footer_mod-2 .icon {
    fill: var(--white);
}

.footer_mod_social_item>a:hover {
    background-color: var(--green);
}

.footer_mod-1 {
    color: #E7E9FC;
}